
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2c2c2c;
}
#qrCodeInput{
    padding: 20px;
    width: 580px;
    border-radius: 17px;
    background-color: #d5dbd8;
}

#qrCodeSize{
    padding: 20px;
    width: 580px;
    border-radius: 15px;
    background-color: #d5dbd8;
}

h1, h2 {
    margin-bottom: 30px;
    color: #fff;
}

h2 {
    font-weight: normal;
}

#output, #output2 {
    color: #fff;
}


#sourceCodeHyperLink{
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bolder;
    padding: 10px;
}