
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
#qrCodeInput{
    padding: 20px;
    width: 580px;
    border-radius: 17px;    
}

#qrCodeSize{
    padding: 20px;
    width: 580px;
    border-radius: 17px;
}

h1, h2 {
    margin-bottom: 30px;
}